<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/login-form.css" />
    <link rel="stylesheet" href="/styles/question.css" />
    <link rel="stylesheet" href="/styles/quiz.css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <main id="main-content">
      <!--  LOGIN FORM-->

      <!-- <div class="login-signup-form">
        <h1>Login</h1>
        <form id="login-form" class="login-form">
          <div class="login-form_wrapper">
            <input type="email" name="email" placeholder="email" />
          </div>

          <div class="login-form_wrapper">
            <input type="password" name="password" placeholder="password" />
          </div>

          <button type="submit" class="btn">Login</button>
        </form>
      </div> -->

      <!--  REGISTER FORM-->
      <!-- <div class="login-signup-form">
        <h1>Register</h1>
        <form method="POST" id="login-form" class="login-form" action="/login">
          <div class="login-form_wrapper">
            <input type="email" name="email" placeholder="email" />
          </div>

          <div class="login-form_wrapper">
            <input type="password" name="password" placeholder="password" />
          </div>

          <button type="submit" class="btn register">register</button>
        </form>
      </div> -->

      <!-- QUESTIONS -->
      <!-- 
      <section class="question-container">
        <div>
          <h1>Title of quiz</h1>
          <form method="POST" action="/question" class="question-form">
            <div class="question-wrapper">
              <div class="question">
                <p>What is the best programming language?</p>
              </div>

              <div class="option-container">
                <div class="option">
                  <input
                    type="radio"
                    name="option"
                    id="option1"
                    value="Javascript"
                  />
                  <label for="option1">Javascript</label>
                </div>

                <div class="option">
                  <input type="radio" name="option" id="option2" value="html" />
                  <label for="option2">html</label>
                </div>

                <div class="option">
                  <input type="radio" name="option" id="option3" value="css" />
                  <label for="option3">css</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="option"
                    id="option4"
                    value="none of the above"
                  />
                  <label for="option4">none of the above</label>
                </div>
              </div>
            </div>

            <div class="question-wrapper">
              <div class="question">
                <p>I am the second question?</p>
              </div>

              <div class="option-container">
                <div class="option">
                  <input
                    type="radio"
                    name="second"
                    id="secondOption1"
                    value="Javascript"
                  />
                  <label for="option1">Javascript</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="second"
                    id="secondOption2"
                    value="html"
                  />
                  <label for="option2">html</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="second"
                    id="secondOption3"
                    value="css"
                  />
                  <label for="option3">css</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="second"
                    id="secondOption4"
                    value="none of the above"
                  />
                  <label for="option4">none of the above</label>
                </div>
              </div>
            </div>

            <div class="question-wrapper">
              <div class="question">
                <p>I am the third question?</p>
              </div>

              <div class="option-container">
                <div class="option">
                  <input
                    type="radio"
                    name="third"
                    id="thirdOption1"
                    value="Javascript"
                  />
                  <label for="option1">Javascript</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="third"
                    id="thirdOption2"
                    value="html"
                  />
                  <label for="option2">html</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="third"
                    id="thirdOption3"
                    value="css"
                  />
                  <label for="option3">css</label>
                </div>

                <div class="option">
                  <input
                    type="radio"
                    name="third"
                    id="thirdOption4"
                    value="none of the above"
                  />
                  <label for="option4">none of the above</label>
                </div>
              </div>
            </div>

            <input
              type="submit"
              value="Submit"
              class="btn submit-btn-question"
            />
          </form>
        </div>
<<<<<<< HEAD
<<<<<<< HEAD
      </section> -->

      <!--MY QUIZZES-->
        
      <div class="container-list-quizzes" >
        <h1>Lists of quizzes </h1>
        <section>
        <div class="quiz-wrapper">


        
        <div class="quiz-container">
          <div class="name-wrapper">
            <span>Quiz name</span>
            <p>Math</p>
          </div>
          <div class="score-wrapper">
            <span>Score</span>
            <span>1</span>
          </div>
          <div class="attempts-wrapper">
            <span>Number of attempts</span>
            <span>1</span>
          </div>
        </div>
        <button class="play-btn">play</button>
        <select name="public-private" id="public-private">
          <option value="public">public</option>
          <option value="private">private</option>
        </select>

        <button class="delete-btn">delete</button>


        
       </section>


       <section>
        <div class="quiz-wrapper">


        
        <div class="quiz-container">
          <div class="name-wrapper">
            <span>Quiz name</span>
            <p>Math</p>
          </div>
          <div class="score-wrapper">
            <span>Score</span>
            <span>1</span>
          </div>
          <div class="attempts-wrapper">
            <span>Number of attempts</span>
            <span>1</span>
          </div>
        </div>
        <button class="play-btn">play</button>
        <select name="public-private" id="public-private">
          <option value="public">public</option>
          <option value="private">private</option>
        </select>

        <button class="delete-btn">delete</button>


        
       </section>


       <section>
        <div class="quiz-wrapper">


        
        <div class="quiz-container">
          <div class="name-wrapper">
            <span>Quiz name</span>
            <p>Math</p>
          </div>
          <div class="score-wrapper">
            <span>Score</span>
            <span>1</span>
          </div>
          <div class="attempts-wrapper">
            <span>Number of attempts</span>
            <span>1</span>
          </div>
        </div>
        <button class="play-btn">play</button>
        <select name="public-private" id="public-private">
          <option value="public">public</option>
          <option value="private">private</option>
        </select>

        <button class="delete-btn">delete</button>


        
       </section>
      </div>


    </main>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
