<div class="container-list-quizzes">
  <h1>List of quizzes</h1>
  <section class="quiz-wrapper">
    <div class="quiz-container">
      <div class="name-wrapper">
        <span>Quiz name</span>
        <p>Math</p>
      </div>
      <div class="score-wrapper">
        <span>Score</span>
        <span>1</span>
      </div>
      <div class="attempts-wrapper">
        <span>Number of attempts</span>
        <span>1</span>
      </div>
    </div>
    <button class="play-btn">play</button>
    <select name="public-private" id="public-private">
      <option value="public">public</option>
      <option value="private">private</option>
    </select>

    <button class="delete-btn">delete</button>
  </section>

  <section class="quiz-wrapper">
    <div class="quiz-container">
      <div class="name-wrapper">
        <span>Quiz name</span>
        <p>Math</p>
      </div>
      <div class="score-wrapper">
        <span>Score</span>
        <span>1</span>
      </div>
      <div class="attempts-wrapper">
        <span>Number of attempts</span>
        <span>1</span>
      </div>
    </div>
    <button class="play-btn">play</button>
    <select name="public-private" id="public-private">
      <option value="public">public</option>
      <option value="private">private</option>
    </select>

    <button class="delete-btn">delete</button>
  </section>

  <section class="quiz-wrapper">
    <div class="quiz-container">
      <div class="name-wrapper">
        <span>Quiz name</span>
        <p>Math</p>
      </div>
      <div class="score-wrapper">
        <span>Score</span>
        <span>1</span>
      </div>
      <div class="attempts-wrapper">
        <span>Number of attempts</span>
        <span>1</span>
      </div>
    </div>
    <button class="play-btn">play</button>
    <select name="public-private" id="public-private">
      <option value="public">public</option>
      <option value="private">private</option>
    </select>

    <button class="delete-btn">delete</button>
  </section>
</div>
