.create-quiz-container {
  margin: 0 auto;
  //   background-color: green;
  width: 60%;
  padding: 1rem;
}

.question-container {
  width: 100%;
  background-color: rgb(221, 221, 221);
  padding: 1rem;
  margin-bottom: 1rem;
}
.create-question input {
  width: 100%;
}

.answers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0.75rem;
  padding: 1rem 0 1.5rem 0;
}

.btn-create-quiz {
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}
