.quiz-wrapper {
  background-color: rgb(41, 41, 154);
  width: 70%;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 7px;
  align-items: center;
}

.quiz-container {
  display: flex;
  width: 55%;
}

.quiz-container div {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  color: white;
  align-items: center;
}

.delete-btn,
.play-btn {
  border: none;
  background-color: none;
  cursor: pointer;
  padding: 0;
  height: 2rem;
  width: 5rem;
  border-radius: 3px;
}

.name-wrapper p {
  max-width: 10rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
}

.name-wrapper span:first-child,
.score-wrapper span:first-child,
.attempts-wrapper span:first-child {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: greenyellow;
}

.name-wrapper p:last-child,
.score-wrapper span:last-child,
.attempts-wrapper span:last-child {
  font-size: 1.1rem;
}

#public-private {
  height: 2rem;
  width: 5rem;
  border-radius: 3px;
  cursor: pointer;
}

.container-list-quizzes {
  text-align: center;
  h1 {
    color: rgb(41, 41, 154);
  }
}
